## .NET
bin/
obj/
.vs/
*.user
*.suo
*.userprefs
*.sln.docstates
*.csproj.user
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

# Rider / VS
.idea/
*.DotSettings.user
_ReSharper*/
*.[Rr]e[Ss]harper
*.sln.iml

# Build results
[Dd]ebugPublic/
[Rr]eleases/
[Aa]rtifacts/
publish/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Misc
*.swp
*.bak
*.tmp
*.orig
